.hero-body {
  background-color: #2e2f42;
  color: #2e2f42;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.hero-title {
  max-width: 498px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
