@import './common.css';
@import './header.css';
@import './hero.css';
@import './features.css';
@import './team.css';
@import './portfolio.css';
@import './footer.css';

/* font-family: 'Roboto', sans-serif;
font-family: "Raleway", sans-serif; */

body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

.link:hover,
.link:focus {
  color: #4d5ae5;
}

.color-accent {
  color: #4d5ae5;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.03em;
}

.navigation {
  font-weight: 500;
  font-size: 16px;
}

.hero-body {
  background-color: #2e2f42;
  color: #2e2f42;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.hero-title {
  max-width: 498px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
}

.block-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.block-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team .block-title,
.team .block-text {
  text-align: center;
}

.footer {
  background-color: #2e2f42;
  color: #ffffff;
}

.footer .logo {
  color: #ffffff;
}
