.team {
  background-color: #f4f4fd;
}

.team-card {
  background-color: #ffffff;
}

.team .block-title {
  text-align: center;
}

.team .block-text {
  text-align: center;
  color: #434455;
}

.team img {
  width: 264px;
}
